/* src/css/application.css */

.pages_container {
    position: relative;
}

.status_label {
    margin-left:30px;
    float: right;
}

.page_container {
    margin: 5px;
    border: 1px solid black;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.page_iframe {
    border-width: 0px;
    flex-grow: 1;
}

.titlebar.pending { background-color:blue; opacity:0.5 }
.titlebar.executing { background-color:purple; opacity:0.5; }
.titlebar.executed { background-color:purple; opacity: 0.0; transition: opacity 1s ease-in; }
.titlebar.failed { background-color:red; opacity:0.5; }

.titlebar {
    flex-shrink: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.titlebar .titletext {
    color: black;
    background-color: white;
    padding: 4px;
}

.footerbar {
    background-color: #CCC;
    flex-shrink: 0;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 32px;
}

.page_iframe {
    width: 100%;
    background-color: white;
}

.close_btn {
    margin:auto;
    float:right;
}




/* src/css/common.css */
.skadi_header {
    background-color: #DDD;
    min-height: 40px;
}

.skadi_header_title {
    display: inline;
    margin-left: 20px;
    font-size: 32px;
}

.skadi_header_icon {
    height: 32px;
    margin-top: 4px;
    margin-right: 20px;
}

.skadi_header_right {
    float: right;
}

.skadi_header_link {
    vertical-align: top;
    margin-right: 20px;
    margin-top: 5px;
}


